@media only screen and (max-width:800px)
{
    *{
        font-size: 12px;
    }
    aside.aside__content{
        display: none;
    }
    main.main__content{
        padding: 0;
    }
    .articles{
        grid-template-columns: 50% 50%;
    }
    .header__content{
        background-color:rgb(33, 33, 33);
        display: flex;
        align-items: center;
        padding: 10px 60px 10px 20px;
        justify-content: space-between;
    }
    .number_one_in_the_world{
        margin: 0;
        margin-right: auto;
    }
    .articles__container {
        padding: 40px 0 40px 0;
    }
    .header__photo-name{
        display: flex;
        flex-direction: column;
        margin-right: auto;
    }
}