<div class="article_change_block article-add-block">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="container-input-image">
            <span>Фотография к записи</span>
            {{form_change.pic}}
        </div>
        <input type="text" class="input-title-artice" value="{{article.title}}" name="change_article_title">
        <textarea class="input-text-article" name="change_article_text">{{article.text}}</textarea>
        <span class="buttons__change_article">
            <button type="button" id="button_cancel_change_article" >Отмена</button>
            <input type="submit" value="Изменить запись" name="change_article" class="add-article-button">
        </span>
    </form>
</div>