{% load static %}
<div id="article_searching">
        {% if articles %}
            <ul class="articles">
                {% for article in articles %}
                    <li class="article" likes_comments="">   
                        <a href="{% url 'article' article_id=article.id %}" class="link_article">
                            <div class="article-info">
                                <div class="container-for-image__article">
                                    {% if article.pic %}
                                        <img src="{{article.pic.url}}" alt="">
                                    {% else %}
                                        <img src="media/articles/pic/default.png" alt="">
                                    {% endif %}
                                </div>
                                <div class="container-info__article">
                                    <span class="author__article">
                                        {% if article.author.photo %}
                                            <img src="{{article.author.photo.url}}" alt="" class="mini-avatar">
                                        {% else %}
                                            <img src="{% static 'main/img/default.png' %}" alt="" class="mini-avatar">
                                        {% endif %}
                                        {{article.author}}
                                    </span>
                                    <h4 class="title__article">{{article.title}}</h4>
                                    <p class="text__article">{{article.text}}</p>

                                    <div class="footer-article">
                                        <span class="likes">
                                            <div class="wrapper-for-like">
                                                <div class="heart-in-articles"></div>
                                            </div>
                                            <div class="score_likes">{{article.score_likes}}</div>
                                        </span>
                                        <span class="comments-in-articles">
                                            <img src="{% static '/main/img/icon-comments.png' %}" alt="">
                                            <div class="score_comments">{{article.score_comments}}</div>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    
                {% endfor %}
            </ul>
        {% else %}
            <span class="non-search-article">Записи не найдены(</span>
        {% endif %}
    
</div>