{% extends 'main/home.html' %}
{% load static %}
{% block content_in_main %}
    <div class="articles__container">
        <input type="text" id="article_search__input" placeholder="Поиск записей (чувствителен к регистру)"
        name="article_search"
        hx-get="{% url 'article_search'%}"
        hx-target="#article_searching"
        hx-trigger="keyup delay:1000ms">
        <form action="" method="post">
            {% csrf_token %}
            {% include 'main/particles/articles_searching.html'%}
        </form>
        
    </div>
{% endblock %}